{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE html>
<div class="page-header">
  <br><center>
<img src= "http://www.unhcr.org/assets/img/unhcr-logo.png">
 
</div>

<div>
<center>
<br>

<button style="height:30px;width:200px" onclick="location.href='{{ url_for('register') }}'" type="button">
     Register New Individual</button><br>
<button style="height:30px;width:200px" onclick="location.href='{{ url_for('search') }}'" type="button">
     Search For Refugee</button><br>
<button style="height:30px;width:200px" onclick="location.href='{{ url_for('logout') }}'" type="button">
     Logout</button><br>


 </center>
</div>


{% endblock %}
