{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE html>
<div class="page-header">
  <h1>Welcome</h1>
  <br><br /><center>
<img src= "http://www.unhcr.org/assets/img/unhcr-logo.png">
 
</div>

<div>
<center>
<br>

<form action="{{ url_for('register') }}">
    <input type="submit" value="Register New Individual" />
</form>
<br>
<form action="{{ url_for('search') }}">
    <input type="submit" value="Search For Refugee" />
</form>

 </center>
</div>


{% endblock %}
