


{% extends 'layouts/form.html' %}

{% macro create_form_line(form_item) -%}
  <div class="input-group">
    <span class="input-group-addon">{{ form_item.label.text}}:</span>
    {{ form_item(class_ = 'form-control', placeholder = form_item.label.text,
       required = true) }}
  </div>
{%- endmacro %}

{% block title %}UNHCR  Registration{% endblock %}
{% block content %}
  <form method="post" class="form form-reset">
    <h1 class="form-heading">UNHCR Registration<a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h1>

    <div style="padding-bottom:10px;">
      {{ create_form_line(form.name) }}
      {{ create_form_line(form.date_of_birth) }}
      {{ create_form_line(form.marital_status) }}
      {{ create_form_line(form.citizenship) }}
      {{ create_form_line(form.education) }}
      {{ create_form_line(form.occupation) }}
      {{ create_form_line(form.religion) }}
      {{ create_form_line(form.ethnic_origin) }}
      <h4>Place of Origin:</h4>
      {{ create_form_line(form.address1) }}
      {{ create_form_line(form.address2) }}
      {{ create_form_line(form.city) }}
      {{ create_form_line(form.region) }}
      {{ create_form_line(form.postal_code) }}
      {{ create_form_line(form.country) }}
      <h4>Current Location:</h4>
      {{ create_form_line(form.shelter_number) }}
      {{ create_form_line(form.block) }}
      {{ create_form_line(form.section) }}
      {{ create_form_line(form.date_of_arrival) }}
    </div>

    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" >
  </form>
{% endblock %}
