<link rel="stylesheet" href="/static/css/style.css" type="text/css">
{% block content %}
{% if session['logged_in'] %}
<p>Already Logged In</p>
{% else %}

<form action="/login" method="POST" class ="form">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
			</div>
     <h1>U. N. H. C. R.</h1>
	  <img src="/static/img/Earth.jpg" alt="Earth" style="width:250px;height:250px;">

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
 
{% endif %}
{% endblock %}