{% extends 'layouts/form.html' %}

{% macro create_form_line(form_item, value, required=true) -%}
  <div class="input-group">
    <span class="input-group-addon">{{ form_item.label.text}}:</span>
    {{ form_item(class_ = 'form-control', placeholder = form_item.label.text,
       required=required, value=value) }}
  </div>
{%- endmacro %}

{% block title %}Search{% endblock %}
{% block content %}
 <form method="post" class="form form-reset">
    <h1 class="form-heading"><a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h1>
</form>

<div class="page-header">
 <h2>Search For Refugee Account</h2>
  <center>
<img src= "http://www.unhcr.org/assets/img/unhcr-logo.png">
</div>
<center>
<div class="search">
<form action="/search" method=post>
    <input type=text style="width:400px" name=search placeholder= "Enter Refugee Name" value="{{ request.form.search}}"></br>
    <div class="actions"><input type=submit style="width:400px" value="SEARCH"></div>
</form>
</div>
{% endblock %}
